.head{
  .head-info{
    display flex
    flex-direction: row
    // justify-content: space-between
    align-items: center
    font-size: 14px

    .head-info-r{
      margin-left: 20px

      .head-info-r-items{
        height: 42px  
        line-height: 42px  
      }
      
      .head-info-tags{
        margin-right: 20px  
      }
    }
    .img{
      width: 140px
      height: 140px
    }
  }
}