
margin-silde = 22px

.head-top{
  display: flex
  flex-direction: row
  justify-content: space-between

  .head-top-l{
    margin-left: margin-silde;
  }

  .head-top-r{
    .top-img{
      margin-right: margin-silde;  
    }
  }

  .top-img{
    width: 40px
    height: 40px
  }

}