.index{
 background-color: #e5e5e5; 
}

.select-date{
  display: flex
  flex-direction: row
  padding: 0 30px
  background-color: #fff

  &-items{
    display: flex
    flex-direction: columns 
    font-size: 14Px  
    
    &-top{
    }

    &-btm{
      font-size: 12Px  
    }
  }
}